
<!DOCTYPE html>
<html lang="en">    
    <head>
        <title>LPU CarPooling</title>   
            <link rel="icon" href="images/imageicon.png" type="image/png">
            <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" />      
            <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
            <link href="css/offer a ride.css" rel="stylesheet" type="text/css" media="all"/>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <meta name="keywords"/>

            <script type="application/x-javascript"> 
            addEventListener("load", function() 
            {
                setTimeout(hideURLbar, 0); 
            }, 
                false
                ); 
             function hideURLbar()
              { 
                window.scrollTo(0,1); 
              } 
            </script>
            <!--//fonts-->
            <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
            <script src="js/bootstrap.min.js"></script>
            <link rel="stylesheet" type="text/css" href="css/component.css" />
            <script src="js/modernizr.custom.js"></script>
            <link rel="stylesheet" href="css/colorbox.css" />
    </head>
        <body>
            <div class="page">
                <header class="header">
                    <a class="header-logo">
                        <img src="images/logo1.png" class=".img-thumbnail" style="margin-top: 6%;"></img>

                    </a>
                    <nav class="header-navigation" style="margin-left: 63%;margin-top: -6%;">
                        <ul class="Header-navigationList u-reset u-inlineBlock">
                            <li class="Header-navigationItem">
                            </li>
                            <li class="Header-navigationItem">
                            
                                <a class="Header-navigationText">Sign Up</a>
                            </li>
                            <li class="Header-navigationItem">
                                <a class="Header-navigationText">Connect with facebook</a>
                            </li>
                        </ul>
                    </nav>
                    </header>
                    <div id="maincontent" class="container">
                        <div class="publication-container">
                            <h1>Offer a ride on your next long journey</h1>
                            <section class="breadcrumb-container">
                                <ol class="publication-breadcrumb margin-bottom u-reset u-clearfix">
                                    <li class="step1 current">
                                        <span>My Schedule</span>
                                    </li>
                                </ol>
                            </section>
                        </div>
                    </div>


                            <div class="row publication publication-step1">

                                <div class="span7">
                                    <input id="has_errors" type="hidden" value="0"></input>

                                    <form class="publication-step1-form" method="post">
                                        <fieldset class="main-block">
                                        <div class="header-main-block">
                                            <h2 style="border-bottom: 0px solid #ddd; margin-bottom:4%;">Pick-up and drop-off points</h2>
                                        </div>
                                        </fieldset>
                                        <div class="thumbnail" style="margin-top:-7%;">
                                        <div class="row" style="margin-top:5%;margin-left:5%;">
                                            <p class="lead">Pick Up</p>
                                        </div>
                                        <div class="row1" style="margin-top:-3%; margin-left:5%;">
                                            <input type="text" class="form-control" placeholder="Your Departure point  (address,city,station....)">
                                        </div>
                                        <div class="row2" style="margin-top:1%; margin-left:5%;">
                                            <p class="lead">Drop-off</p>
                                        </div>
                                        <div class="row3" style="margin-top:-3%; margin-left:5%;">
                                            <input type="text" class="form-control" placeholder="Your Arrival Point  (Address,city,location...)">
                                        </div>

                                        
                                        <div class="row4" style="margin-top:1%; margin-left:5%;">
                                            <h3>Stopovers  ?</h3>
                                        </div>

                                        <div class="add" style="margin-top:1%; margin-left:5%;">
                                            <p>Now add your stopover points - offering to pick up and drop off co-travellers along the way is a sure way to fill your car.</p> 
                                        </div>
                                        
                                        <div class="cities" style="margin-top:1%; margin-left:5%;">
                                            <h5 ><a href="#">+ Add more cities on your route</a </h5>
                                        </div> 

                                    

                                    </form>

                                    

                                </div>
                                <div class="date">

                                <fieldset class="main-block">
                                        <div class="header-main-block" style="background-color:green;">
                                            <h2 style="border-bottom: 1px solid #ddd; margin-bottom:4%;">Date and Time</h2>
                                        </div>
                                        <div class="right" style="margin-left: 43%;margin-top: -10%;">
                                          <input type="checkbox" value="" step="margin-left: 34%;">
                                          </input>

                                        </div>
                                        <div class="left" style="margin-top: -1%;margin-left: 86%;">
                                            <label>Round Trip</label>
                                        </div>
                                </fieldset>

                                 <div class="thumbnail" style="margin-top:-7%;">
                                          <div class="departure" style="margin-top:10%;margin-left:2%;">
                                              <p class="lead">Departure date:</p>
                                          </div>

                                          <div class="row5" style="margin-top: -2%;margin-right: 62%;">
                                              <input type="date" class="form-control" placeholder="Date"></input>
                                          </div>

                                          <div class="return" style="margin-top:1%;margin-left:2%;">
                                              <p class="lead">Return date:</p>
                                          </div>

                                           <div class="row5" style="margin-top: -2%;margin-right: 62%;">
                                              <input type="date" class="form-control" placeholder="Date"></input>
                                          </div>

                                      </div>

                                      <div class="submit" style="margin-left: 62%;">
                                          <input type="submit"  value="Continue" class="btn btn-info">

                                      </div>
                                </div>
                            </div>
                            <div class="span5">
                                <div class="map">
                                    <div id="map">
                                    </div>

                                <script>
                                    function initMap() {
                                        var uluru = {lat: -25.363, lng: 131.044};
                                        var map = new google.maps.Map(document.getElementById('map'), {
                                        zoom: 4,
                                        center: uluru
                                        });
                                        var marker = new google.maps.Marker({
                                        position: uluru,
                                        map: map
                                        });
                                    }
                                    </script>

                                </div>
                            </div>




                        </div>
                    </div>
        </div>

            </div>


            
 <script async defersrc="https://maps.googleapis.com/maps/api/js?key=AIzaSyCbunaRdfJz_kuf6Fl7hVXq5bWdQBr0JfM&callback=initMap">
            </script>


        </body>
</html>